<div class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Billing Demo</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
      </li>
      <div *ngIf="authService.isAdmin">
        <li class="nav-item">
          <a class="nav-link" routerLink="/menu-item" routerLinkActive="active">Menu Items</a>
        </li>
      </div>
      <div *ngIf="authService.isAdmin">
        <li class="nav-item">
          <a class="nav-link" routerLink="/list-discount" routerLinkActive="active">Discounts</a>
        </li>
      </div>
      <div *ngIf="authService.isAdmin">
        <li class="nav-item">
          <a class="nav-link" routerLink="/billing-history" routerLinkActive="active">Billing History</a>
        </li>
      </div>
    </ul>
    <div *ngIf="!credentialsService.isAuthenticated()">
      <ul class="nav navbar-nav navbar-dark">
        <li class="nav-item active mr-2">
          <a cass="nav-link" style="color: white;" routerLink="/register" routerLinkActive="active">Register</a>
        </li>
        <li class="nav-item active mr-2">
          <a cass="nav-link" style="color: white;" routerLink="/login" routerLinkActive="active">Sign In</a>
        </li>
      </ul>
    </div>
    <div *ngIf="credentialsService.isAuthenticated()">
      <ul class="nav navbar-nav navbar-dark">
        <li class="nav-item">
          <button class="btn btn-outline-primary nav-link active" (click)="logout()">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
<app-toast></app-toast>